<html>
<head>
<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/monokai.min.css">
<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<style>
h1{
    padding: 5px 0 0 3%;
    border-top-width: 1px;
    border-top-style: solid;
}

pre {
    display: inline-block;
    min-width: 660px;
}

code {
    border-radius: 6px;
}

dt, dd{
    padding-left: 6%;
}
</style>
</head>
<body>
{{{body}}}
</body>